*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Jersey15-Regular;
    src: url('Font/Jersey15-Regular.ttf') format('truetype');
}
@font-face {
    font-family: Console;
    src: url('Font/Console.ttf') format('truetype');
}
h1{
    font-family: Jersey15-Regular;
    color: #2322F9;
    font-size: 4rem;
    margin: 20px;
}
p{
    font-family: Console;
    font-size: 1.2rem;
    color: black;
    margin: 10px;
}
html {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
}

body {
    display: flex;
    justify-content: center;
    background-image: url(images/background/what.png);
    background-size: 50vh;
    background-color: rgba(255, 255, 255, 0.753);
    background-blend-mode: lighten;
    animation: back 1000s linear infinite;
    background-repeat: repeat;
    background-position: 0% 0%;
    width: 75vw;
    overflow-x: hidden;
}

@keyframes back {
    100%   { background-position: 0% 0%; }
    0% { background-position: 2000% 1000%; }
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(60, 60, 60);
    opacity: 0.25;
    z-index: -1;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 25vh;
}

    /* -=- Top text -=- */

.intro{
    height: 10%;
    margin: 15vh 0 10vh 0;
    background-color: rgba(255, 255, 255, 0.801);
    box-shadow: rgb(255, 255, 255) 0px 0px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
}
.intro p{
    padding: 0px;
}

    /* -=- Individual Images -=- */

.anchor{
    margin: 50px 20px 50px 20px;
}
.anchor img{
    width: 330px;
    background-color: rgba(255, 255, 255, 0.801);
    box-shadow: rgb(255, 255, 255) 0px 0px 20px 10px;
    transition: 0.2s;
}
.anchor p{
    background-color: rgba(255, 255, 255, 0.801);
    box-shadow: rgb(255, 255, 255) 0px 0px 20px 10px;
    font-family: Console;
    font-size: 1.2rem;
    width: 50%;
}
.anchor img:hover{
    box-shadow: #2322F9  0px 0px 20px 10px;
    transform: scale(1.1) translateY(-15px);
}

    /* -=- Responsivity -=- */

@media (orientation: portrait) {
    .anchor img{
        width: 30vw;
    }
    .intro{
        height: 5%;
    }
}