*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Jersey15-Regular;
    src: url('Font/Jersey15-Regular.ttf') format('truetype');
}
@font-face {
    font-family: Console;
    src: url('Font/Console.ttf') format('truetype');
}
.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 50vh;
}
.projects h1{
    font-family: Jersey15-Regular;
    font-size: 5vw;
    color: #2322F9;
    font-weight: 500;
    text-align: center;
    margin-bottom: -20px;
}
.projects p, .projects li{
    font-family: Console;
    font-size: 1vw;
    color: black;
    font-weight: 500;
    margin-bottom: 20px;
    text-shadow: 0px 0px 1px #333333;
}
.projects li{
    font-size: 1.5vw;
    margin: -1px 0 -1px 0;
}
.projects_intro{
    width: calc((50vw + 30vh) / 1.5 - 20px);
    background-color: rgba(255, 255, 255, 0.801);
    box-shadow: rgb(255, 255, 255) 0px 0px 20px 10px;
}
.projects_intro p{
    margin: 50px 0px 0px 0px;
    padding: 50px
}
.projects_r_{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc((50vw + 30vh) - 20px);
    margin: 0 1% 0 0;
}
.projects_r_ img{
    width: 30vw;
}
.projects_r1, .projects_r2 {
    width: calc((50vw + 30vh) - 20px);
}
.projects_r1 {
    margin: 0 10% 0 0;
}
.projects_r1_yap {
    width: 50%;
    margin: -90% 0 0 48%;
}
.projects_r2_yap {
    margin: -70% 0 0 0;
}
.projects_r1_yap h1 , .projects_r2_yap h1{
    padding: 50px;
    font-size: 3vw;

}

@media (orientation: portrait){
    .projects{
        margin-top: 20vh;
        margin-bottom: 60vh;
    }
    .projects_intro h1{
        font-size: 8vh;
    }
    .projects_intro p, .projects_intro li{
        font-size: 140%;
        background-color: rgba(255, 255, 255, 0.801);
        box-shadow: rgb(255, 255, 255) 0px 0px 20px 10px;
        padding: 0;
    }
}