*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Jersey15-Regular;
    src: url('Font/Jersey15-Regular.ttf') format('truetype');
}
@font-face {
    font-family: Console;
    src: url('Font/Console.ttf') format('truetype');
}
.abilities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}
.abilities h1{
    font-family: Jersey15-Regular;
    font-size: 5vw;
    color: #2322F9;
    font-weight: 500;
    text-align: center;
    margin-bottom: -20px;
}
.abilities p, .abilities li{
    font-family: Console;
    font-size: 1vw;
    color: black;
    font-weight: 500;
    margin-bottom: 20px;
    text-shadow: 0px 0px 1px #333333;
}
.abilities ul{
    margin-left: -25%;
    width: 60%;
}
.abilities li{
    font-size: 1.5vw;
    margin: 8px 0 8px 0;
}
.abilities img{
    transform: scale(0.8);
    transform-origin: top left;
}
.abilities_r1, .abilities_r2, .abilities_r3 {
    display: grid;
    margin: 1px;
    width: calc((50vw + 30vh) - 20px);
}
.abilities_r1, .abilities_r2 {
    grid-template-areas: 
        "s1 s2 s3"; 
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto auto;  
}
.abilities_r2 {
    margin-top: 15%;
}
.abilities_r3 {
    grid-template-areas: 
        "s1 s2"; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;    
    margin-top: 20%;  
}

.abilities_r1s1, .abilities_r1s2, .abilities_r1s3, .abilities_r2s1, .abilities_r2s2, .abilities_r2s3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((50vw + 30vh) / 3 - 20px);
    margin: 10px;
}
.abilities_r3s1, .abilities_r3s2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((50vw + 30vh) / 2 - 20px);
    margin: 10px;
}

/* EVIL SEKCE*/

.abilities_r1s1 img, .abilities_r1s2 img, .abilities_r1s3 img, .abilities_r2s1 img, .abilities_r2s2 img, .abilities_r2s3 img{
    position: absolute;
}

.abilities_r1s1 {
    grid-area: s1;
}
.abilities_r1s1 img{
    width: 22%;
    margin: 10% 0 0 0;
}
.abilities_r1s2 {
    grid-area: s2;
    background-color: rgba(255, 255, 255, 0.801);
    box-shadow: rgb(255, 255, 255) 0px 0px 20px 10px;
    padding: 15% 2% 15% 2%;
}
.abilities_r1s2 img{
    width: 28%;
    margin: 7% -4% 0 0;
}
.abilities_r1s3 {
    grid-area: s3;
}
.abilities_r1s3 img{
    width: 26%;
    margin: 10% -5% 0 0;
}
.abilities_r2s1 {
    grid-area: s1;
}
.abilities_r2s1 img{
    width: 26%;
    margin: 10% 2% 0 0;
}
.abilities_r2s2 {
    grid-area: s2;
    background-color: rgba(255, 255, 255, 0.801);
    box-shadow: rgb(255, 255, 255) 0px 0px 20px 10px;
    margin: -25% 20% 0 0;
    padding: 15% 2% 15% 2%;
}
.abilities_r2s3 {
    grid-area: s3;
}
.abilities_r2s3 img{
    width: 28%;
    margin: 13% -3% 0 0;
}
.abilities_r3s1 {
    grid-area: s1;
}
.abilities_r3s1 img{
    width: 65%;
    margin: -25% 0 0 0;
    z-index: -1;
}
.abilities_r3s2 {
    grid-area: s2;
}
.abilities_r3s2 img{
    width: 65%;
    margin: -20% 0 0 -60%;
    z-index: -1;
}
.abilities_r3s2 img:nth-child(2) {
    width: 60%;
    margin: -45% 0 0 -110%;
}

@media (orientation: portrait) {
    
    .abilities{
        width: 100vw;
        margin-left: 25vw;
    }
    .abilities_r1s1, .abilities_r1s3, .abilities_r2s1, .abilities_r2s3, .abilities_r3s1{
        display: none;
    }
    .abilities_r1s2{
        
    }
    .abilities_r1s2 img{
        width: 70%;
        margin-left: 10%;
    }
    .abilities h1{
        font-size: 8vh;
        margin-top: -5vh;
    }
    .abilities p, .abilities li{
        font-size: 140%;
        width: 170%;
        background-color: rgba(255, 255, 255, 0.801);
        box-shadow: rgb(255, 255, 255) 0px 0px 20px 10px;
    }
    .abilities_r3s2 img{
        margin: -90% 0% 0 -170%;
        width: 100%;
    }
    .abilities_r3s2 img:nth-child(2){
        margin: -140% 0% 0 -180%;
        width: 90%;
    }
    
}